[submodule "submodules/bgfx"]
	path = submodules/bgfx
	url = https://github.com/widberg/bgfx.cmake
[submodule "submodules/pybind11"]
	path = submodules/pybind11
	url = https://github.com/pybind/pybind11
